@import 'vars';
@import 'mixins';

.articles {
  display: grid;
  gap: 2em;
  padding: 2em;
  @each $size, $properties in $screen-sizes {
    @include media-screen($size) {
      grid-template-columns: map-get($properties, 'columns');
      @if $size == 'medium' {
        > article:nth-of-type(3n + 1) {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}